<div id="<%= dom_id product %>" class="product-card">
  <%= link_to product, class: "product-card-link" do %>
    <% if product.main_image.attached? %>
      <div class="product-card-image">
        <%= image_tag product.main_image %>
      </div>
    <% else %>
      <div class="product-card-image placeholder">
         <span>No Image</span>
      </div>
    <% end %>
    <div class="product-card-content">
      <h3 class="product-card-name"><%= product.name %></h3>
      <p class="product-card-category"><%= product.category&.name %></p>
      <p class="product-card-price"><%= number_to_currency(product.price_in_cents.to_f / 100) %></p>
    </div>
  <% end %>
</div>
