<p style="color: green"><%= notice %></p>

<% content_for :title, "Products" %>

<h1>Products</h1>

<div class="search-form">
  <%# This form sends a GET request to the current page (products_path) %>
  <%= form_with(url: products_path, method: :get) do |form| %>
    <div class="form-group">
      <%= form.label :search_by_name, "Search by Name" %>
      <%# The text_field will now be empty on page load %>
      <%= form.text_field :search_by_name %>
    </div>

    <div class="form-group">
      <%= form.label :category_id, "Filter by Category" %>
      <%# The collection_select will now default to the blank option %>
      <%= form.collection_select :category_id, Category.all, :id, :name, { include_blank: 'All Categories' } %>
    </div>

    <%= form.submit "Search" %>
  <% end %>
</div>


<div id="products">
  <% @products.each do |product| %>
    <%= render product %>
  <% end %>
</div>

<%= link_to "New product", new_product_path %>
