<% content_for :title, "Products" %>

<div class="page-header">
  <h1>Products</h1>
  <%= link_to "New product", new_product_path, class: "btn" %>
</div>


<div class="search-form-container">
  <%= form_with(url: products_path, method: :get, class: "search-form") do |form| %>
    <%= form.text_field :search_by_name, placeholder: "Search by name...", class: "form-control" %>
    <%= form.collection_select :category_id, Category.all, :id, :name, { include_blank: 'All Categories' }, class: "form-control" %>
    <%= form.submit "Search", class: "btn" %>
  <% end %>
</div>

<div id="products" class="product-grid">
  <% @products.each do |product| %>
    <%= render product %>
  <% end %>
</div>
