<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "ArtShop" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag "app", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <header class="site-header">
      <div class="container">
        <a href="/" class="logo">ArtShop</a>
        <nav class="main-nav">
          <ul>
            <% if user_signed_in? %>
              <li><%= link_to "My Orders", orders_path %></li>
              <li><%= link_to "Cart", cart_path %></li>
            <% end %>
          </ul>
        </nav>
        <nav class="user-nav">
          <ul>
            <% if user_signed_in? %>
  <%# --- This block checks if the user is an admin --- %>


  <li><span class="welcome-message">Welcome, <%= current_user.name %>!</span></li>
  <li><%= link_to "Edit Profile", edit_user_registration_path, class: "btn btn-secondary" %></li>
  <li><%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: "btn btn-secondary" %></li>
<% else %>
  <li><%= link_to "Sign Up", new_user_registration_path, class: "btn btn-secondary" %></li>
  <li><%= link_to "Sign In", new_user_session_path, class: "btn" %></li>
<% end %>
          </ul>
        </nav>
      </div>
    </header>

    <main class="container">
      <% if notice %>
        <p class="notice"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert"><%= alert %></p>
      <% end %>

      <%= yield %>
    </main>

  </body>
</html>
